body {
  font-family: 'Raleway', sans-serif;
  background-image: url("bg.png");
  background-color: #ffffff;
}

h1 {
  font-family: 'Coming Soon', cursive;
}

h2 {
  font-family: 'Coming Soon', cursive;
}

.bg-primary > ul > li > a {
  color: #ffffff
}

.bg-primary {
  background-color: #2ca5f8 !important;
}

.bg-secondary {
  background-color: #ffc61f !important;
}

.bg-light {
  background-color: #fafbfc !important;
}

.bg-dark {
  background-color: #405062 !important;
}