body {
  font-family: 'Raleway', sans-serif;
  background-image: url('bg.png');
  background-color: #ffffff;
}

h1, h2 {
  font-family: 'Coming Soon', cursive;
}

div#imgFoot {
  background-image: url("grass-159804.svg");
  background-repeat: repeat-x;
  overflow: hidden;
  height: 100px;
}

#credits {
  background-color: #4b7e1d;
}

#credits > p > a {
  color: #ffffff;
}

.bg-primary > ul > li > a {
  color: #ffffff;
}

.bg-dark > p > a {
  color: #ffffff;
}

.bg-primary {
  background-color: #2ca5f8 !important;
}

.bg-secondary {
  background-color: #ffc61f !important;
}

.bg-light {
  background-color: #fafbfc !important;
}

.bg-dark {
  background-color: #405062 !important;
}